In [50]:
import pandas as pd
import numpy as np
data = pd.Series([0.25,7,0.5,9],index = ['a','b','c','d'])
print(data)

a    0.25
b    7.00
c    0.50
d    9.00
dtype: float64

In [51]:
data['a']

0.25

In [52]:
population_dict = {'california':111,'New york':12,'Ha Noi':1111111}
population = pd.Series(population_dict)
print(population)

california        111
New york           12
Ha Noi        1111111
dtype: int64

In [53]:
# Slicing:
population['california':'Ha Noi']

california        111
New york           12
Ha Noi        1111111
dtype: int64

In [54]:
#  Contructing Series object
from operator import index


Index =[1,2,3]
pd.Series(5,index=Index)

1    5
2    5
3    5
dtype: int64

In [55]:
pd.Series({2:"a",1:"b",3:"c"},index=[2,3,9])

2      a
3      c
9    NaN
dtype: object

In [56]:
# DATAFRAME OBJECT:
# - contructin from a single Series object
# 
array =pd.DataFrame({'population':population})
print(array)

            population
california         111
New york            12
Ha Noi         1111111

In [57]:
array['population']

california        111
New york           12
Ha Noi        1111111
Name: population, dtype: int64

In [58]:
# contructin from a single Series object
pd.DataFrame(population,columns=['columns'])

            columns
california      111
New york         12
Ha Noi      1111111

In [59]:
# From a two -dimensional Numpy array
# matrix = np.random.rand(3,2)
# pd.DataFrame(matrix,columns=['c1','c2'],index=['a','b'])

In [60]:
# From a Numpy Structured Array
a = np.zeros(3,dtype)

NameError: name 'dtype' is not defined

In [ ]:
# Series: ['b']: explicit index( chi so tuong minh)
# Data.Keys()
# Extend : Series
# masking
# fancy indexing
# loc ==> implicit(index)"", iloc==>explicit(index-data structed
#Data selection in datafame

In [ ]:
import random
import pandas as pd
numbers = [i for i in range(100)]

data = pd.Series([random.choice(numbers) for _ in range(100)])
data.values

array([68, 97,  5, 91, 49, 66, 84, 22, 25, 36,  8, 81, 99, 55, 24, 26, 80,
       77, 52, 92, 46, 24, 19, 61, 90, 11, 43, 89, 24,  3, 51, 76, 44, 51,
       71, 46, 25, 79,  5, 95, 42,  1, 52, 90, 42, 59, 47, 75, 82, 70, 61,
       35, 86, 58, 54, 30, 23, 11, 49, 78, 16, 97, 61, 14, 30, 21, 63, 81,
       59, 91, 93, 33,  0,  5, 65, 61, 69, 69, 90, 69, 32,  7, 84, 92, 50,
        2, 97, 42,  4,  3, 82, 58, 45, 27,  5, 49, 59, 96, 22,  8])

In [ ]:
max
max = 0
for i in data:
    if i > 50: max+=1
print(max)
max_val =0
min_val =0
count =0
for i in data.values:
    if i > 50: count+=1
print(count)
# for i in range(data.count()):
# for i in list(data.index):
# print(dict( for i in range(10): for i in range(10)))

# for index, val in list(data.items()):
# len
# data.count()

SyntaxError: invalid syntax (593168711.py, line 14)

In [ ]:
min =0
for i in data:
    if i < min: min = i
print(min)

0

In [ ]:
Mean = data.mean()
d = 0
for i in data: 
    if i < Mean: d+=1
print(d)

54

In [ ]:
Mean = data.mean()
d = 0
for i in data: 
    if i > Mean: d+=1
print(d)

46

In [ ]:
Dict={}
for i in range(data.count()):
    d = 0
    for j in range(data.count()):
        if data.loc[i] == data.loc[j]: d+=1
        Dict[data.loc[i]] = d
print(Dict)

{68: 1, 97: 3, 5: 4, 91: 2, 49: 3, 66: 1, 84: 2, 22: 2, 25: 2, 36: 1, 8: 2, 81: 2, 99: 1, 55: 1, 24: 3, 26: 1, 80: 1, 77: 1, 52: 2, 92: 2, 46: 2, 19: 1, 61: 4, 90: 3, 11: 2, 43: 1, 89: 1, 3: 2, 51: 2, 76: 1, 44: 1, 71: 1, 79: 1, 95: 1, 42: 3, 1: 1, 59: 3, 47: 1, 75: 1, 82: 2, 70: 1, 35: 1, 86: 1, 58: 2, 54: 1, 30: 2, 23: 1, 78: 1, 16: 1, 14: 1, 21: 1, 63: 1, 93: 1, 33: 1, 0: 1, 65: 1, 69: 3, 32: 1, 7: 1, 50: 1, 2: 1, 4: 1, 45: 1, 27: 1, 96: 1}

In [ ]:
import pandas as pd
df = pd.read_excel('students.xlsx')
df.info()
df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Mã học sinh  10 non-null     int64
 1   Họ tên       10 non-null     object
 2   Ngày sinh    10 non-null     datetime64[ns]
 3   Quê quán     10 non-null     object
 4   Toán         10 non-null     float64
 5   Lý           10 non-null     float64
 6   Hoá          10 non-null     float64
 7   Sinh         10 non-null     float64
 8   Văn          10 non-null     float64
 9   Sử           10 non-null     float64
 10  Địa          10 non-null     float64
 11  Tiếng Anh    10 non-null     float64
dtypes: datetime64[ns](1), float64(8), int64(1), object(2)
memory usage: 1.1+ KB

(10, 12)

In [ ]:
df.groupby('Quê quán')['Mã học sinh'].count()

Quê quán
Bắc Ninh      2
Hà Nam        1
Hà Nội        4
Nam Định      1
Quảng Bình    1
Thái Bình     1
Name: Mã học sinh, dtype: int64

In [61]:
# df_tempo = df.add()
df.describe()

,Mã học sinh,Toán,Lý,Hoá,Sinh,Văn,Sử,Địa,Tiếng Anh
count,1.000000e+01,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
mean,2.020521e+07,6.910000,7.080000,6.920000,6.180000,6.310000,5.750000,6.440000,6.510000
std,3.027650e+00,1.481328,1.015218,1.180207,1.966836,1.323673,2.147996,1.992319,1.674946
min,2.020521e+07,4.200000,5.600000,5.400000,2.000000,4.000000,2.000000,3.400000,3.800000
25%,2.020521e+07,5.875000,6.575000,6.100000,5.250000,5.500000,4.525000,5.000000,5.500000
50%,2.020521e+07,7.000000,7.000000,6.750000,6.650000,6.500000,5.700000,6.300000,6.250000
75%,2.020522e+07,7.875000,7.625000,7.450000,7.000000,6.925000,7.250000,7.950000,7.750000
max,2.020522e+07,9.300000,9.000000,8.800000,9.000000,8.500000,9.200000,9.500000,9.000000

In [202]:
# Number of student in each provice:
List_prov=list(df["Quê quán"])
Dict_prov={}
for i in List_prov:
    if i in Dict_prov:
        Dict_prov[i]+=1
    else: Dict_prov[i]=1
print(pd.DataFrame(list(Dict_prov.items()),columns=['Province','Num_of_Stus']))

     Province  Num_of_Stus
0      Hà Nội            4
1  Quảng Bình            1
2      Hà Nam            1
3    Bắc Ninh            2
4   Thái Bình            1
5    Nam Định            1

In [ ]:
def sort_(bool):