In [8]:
import pandas as pd
from scipy import stats
import matplotlib.pyplot as plt
df = pd.read_excel('Quality.xlsx')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Sample 1  30 non-null     float64
 1   Sample 2  30 non-null     float64
 2   Sample 3  30 non-null     float64
 3   Sample 4  30 non-null     float64
dtypes: float64(4)
memory usage: 1.1 KB

/home/tuanvu/anaconda3/lib/python3.9/site-packages/openpyxl/worksheet/header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

In [5]:
df.head()

   Sample 1  Sample 2  Sample 3  Sample 4
0     11.55     11.62     11.91     12.02
1     11.62     11.69     11.36     12.02
2     11.52     11.59     11.75     12.05
3     11.75     11.82     11.95     12.18
4     11.90     11.97     12.14     12.11

In [11]:
sampe = list()

for i in df.columns:
    sampe.extend(df[i].tolist())
len(sampe)

120

In [15]:
df = pd.DataFrame(columns=['Sample'],data = sampe)

df.describe()

           Sample
count  120.000000
mean    11.989417
std      0.223108
min     11.360000
25%     11.850000
50%     12.000000
75%     12.160000
max     12.470000

Phát biểu giả thuyết:
    + Ho: Khối lượng trung bình của sản phẩm =12
    + H1: Khối lượng trình sản phẩm khác 12
    + Kiểm định 2 phía với a = 0.05

In [19]:
print(stats.ttest_1samp(sampe,12))

Ttest_1sampResult(statistic=-0.5196355789314843, pvalue=0.6042828222996104)

Kết luận: Với P_value >0.05 vì vậy với dữ liệu ghi nhận thì giả thuyết chấp nhạn