In [17]:
import pandas as pd

from scipy import stats

import numpy as np

df = pd.read_csv('covid.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206 entries, 0 to 205
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country       206 non-null    object
 1   continent     206 non-null    object
 2   date          206 non-null    object
 3   day           206 non-null    int64
 4   month         206 non-null    int64
 5   year          206 non-null    int64
 6   cases         206 non-null    int64
 7   deaths        206 non-null    int64
 8   country_code  202 non-null    object
 9   population    202 non-null    float64
dtypes: float64(1), int64(5), object(4)
memory usage: 16.2+ KB

In [4]:
df.describe()

              day       month    year         cases       deaths    population
count  206.000000  206.000000   206.0    206.000000   206.000000  2.020000e+02
mean    12.024272    3.985437  2020.0    395.247573    29.713592  3.731716e+07
std      0.424141    0.209020     0.0   2160.176439   159.533131  1.413776e+08
min     11.000000    1.000000  2020.0      0.000000     0.000000  1.000000e+03
25%     12.000000    4.000000  2020.0      0.000000     0.000000  1.278222e+06
50%     12.000000    4.000000  2020.0     11.500000     0.000000  7.042862e+06
75%     12.000000    4.000000  2020.0     88.750000     3.000000  2.600084e+07
max     18.000000    4.000000  2020.0  28391.000000  1831.000000  1.392730e+09

1. Có mối tương quan nào giữa số ca mắc và số ca tử vong ở các quốc gia hay không

Phát biểu giả thuyết:
+ H0: Không có mối tương quan tuyến tính giữa 2 biến
+ H1: Có mối tương quan tuyến tính giữa 2 biến

In [7]:
#  Lọc dữ  liệu
df1 = df.filter(['cases','population'])
df1

     cases  population
0       34  37172386.0
1       17   2866376.0
2       64  42228429.0
3       21     77006.0
4        0  30809762.0
..     ...         ...
201      0  28870195.0
202      4  95540395.0
203      0  28498687.0
204      0  17351822.0
205      3  14439018.0

[206 rows x 2 columns]

In [10]:
#  Xóa bỏ dữ liệu null

df1 = df1.dropna()

r, p_value = stats.pearsonr(df1.cases, df1.population)
print(f'r: {r}; p_value: {p_value}')

r: 0.17553926594294006; p_value: 0.01246031070420893

Nhận xét: do P_value <5%,bóc boe giả thuyết không, chấp nhận giả thuyết đối

2. Kiểm định population - rời rạc hóa với số ca nhiễm

In [27]:
q1 = df1.population.quantile(0.25)

q2 = df1.population.quantile(0.5)

q3 =df1.population.quantile(0.75)


condition = [df1.population < q1, df1.population<q2,df1.population < q3]

values = [1,2,3]

df1['population_ordinal'] = np.select(condition, values,default=4)


df1.head()

   cases  population  population_ordinal
0     34  37172386.0                   4
1     17   2866376.0                   2
2     64  42228429.0                   4
3     21     77006.0                   1
4      0  30809762.0                   4

Phát biếu giả thuyết:
+ H0: Giữa population_ordinal và cases không có mối tương quan 
+ H1: Giữa population_ordinal và cases có mối tương quan

In [30]:
r, p_value =stats.spearmanr(df1.cases,df1.population_ordinal)

print(f'r: {r}; p_value = {p_value}')

r: 0.49498466493711596; p_value = 6.982786622314858e-14

Kết luận: do P_value~0 chứng tỏ Giữa population_ordinal và cases có mối tương quan