In [3]:
import pandas as pd

from scipy import stats

import numpy as np

import seaborn as sns

from scipy.stats import chi2_contingency
df = pd.read_csv('Credit_Scoring.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149992 entries, 0 to 149991
Data columns (total 12 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   Unnamed: 0                            149992 non-null  int64
 1   SeriousDlqin2yrs                      149992 non-null  int64
 2   RevolvingUtilizationOfUnsecuredLines  149992 non-null  float64
 3   age                                   149992 non-null  int64
 4   NumberOfTime30-59DaysPastDueNotWorse  149992 non-null  int64
 5   DebtRatio                             149992 non-null  float64
 6   MonthlyIncome                         120262 non-null  float64
 7   NumberOfOpenCreditLinesAndLoans       149992 non-null  int64
 8   NumberOfTimes90DaysLate               149992 non-null  int64
 9   NumberRealEstateLoansOrLines          149992 non-null  int64
 10  NumberOfTime60-89DaysPastDueNotWorse  149992 non-null  int64
 11  NumberOfDependents                    146068 non-null  float64
dtypes: float64(4), int64(8)
memory usage: 13.7 MB

In [5]:
df.head()

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,9,0,0.116951,27,0,46.000000,NaN,2,0,0,0,NaN
1,10,0,0.189169,57,0,0.606291,23684.0,9,0,4,0,2.0
2,11,0,0.644226,30,0,0.309476,2500.0,5,0,0,0,0.0
3,12,0,0.018798,51,0,0.531529,6501.0,7,0,2,0,2.0
4,13,0,0.010352,46,0,0.298354,12454.0,13,0,2,0,2.0

1. Mối tương quan giữa độ tuổi với thu nhập trung bình theo tháng

In [11]:
df1 = df.dropna(subset=['age','MonthlyIncome'])

Phát biểu giả thuyết:
+ Độ tuổi và thu nhập trung bình không có mối quan hệ 
+ Độ tuổi và thu nhập trung bình có mối quan hệ tương quan với nhau

In [15]:
condition = [df1.age < 16, df1.age< 40 ,df1.age < 60]

values = [1,2,3]

# del df1['population_ordinal'] 

df1['range_age'] = np.select(condition, values,default=4)


df1.head()

/tmp/ipykernel_38979/3342016170.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['range_age'] = np.select(condition, values,default=4)

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents,range_age
1,10,0,0.189169,57,0,0.606291,23684.0,9,0,4,0,2.0,3
2,11,0,0.644226,30,0,0.309476,2500.0,5,0,0,0,0.0,2
3,12,0,0.018798,51,0,0.531529,6501.0,7,0,2,0,2.0,3
4,13,0,0.010352,46,0,0.298354,12454.0,13,0,2,0,2.0,3
5,14,1,0.964673,40,3,0.382965,13700.0,9,3,1,1,2.0,3

In [17]:
r, p_value =stats.spearmanr(df1.range_age,df1.MonthlyIncome)

print(f'r: {r}; p_value = {p_value}')

r: 0.12894006464777552; p_value = 0.0

Kết luận: P <0.05, vì vậy bác bỏ giả thuyết H0

2. Số lượng khoản vay và độ tuổi có liên quan đến nhau hay không

2. Giữa khoản vay và độ tuổi có mối tương quan với nhau không

Phát biểu:
+ H0: Khoản vay và độ tuổi không mối tương quan với nhau
+ H1: Khoản vay và độ tuổi có mối tương quan với nhà

In [23]:
df2 = df.dropna(subset=['NumberOfOpenCreditLinesAndLoans','age'])

r, p_value = stats.pearsonr(df2.NumberOfOpenCreditLinesAndLoans, df2.age)
print(f'r: {r}; p_value: {p_value}')

r: 0.147704131801262; p_value: 0.0

Kết luận: do p < 0.05 vì vậy chấp nhận giả thuất H1

3.Mã hóa thuộc tính Monthlyincome, xét thuộc tính này với tình trạng nợ xấu có liên quan đến nhau không

In [29]:
df3 = df.dropna(subset=['MonthlyIncome','SeriousDlqin2yrs'])

q1 = df3.MonthlyIncome.quantile(0.25)

q2 = df1.MonthlyIncome.quantile(0.5)

q3 =df1.MonthlyIncome.quantile(0.75)


condition = [df1.MonthlyIncome < q1, df1.MonthlyIncome<q2,df1.MonthlyIncome < q3]

values = [1,2,3]

df3['salary_ordinal'] = np.select(condition, values,default=4)


df3 = df3.filter(['SeriousDlqin2yrs','salary_ordinal'])

df3

/tmp/ipykernel_38979/1269228498.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['salary_ordinal'] = np.select(condition, values,default=4)

        SeriousDlqin2yrs  salary_ordinal
1                      0               4
2                      0               1
3                      0               3
4                      0               4
5                      1               4
...                  ...             ...
149986                 0               2
149987                 0               1
149988                 0               3
149990                 0               3
149991                 0               3

[120262 rows x 2 columns]

Phát biểu:
+ H0: Hai thuộc tính không có mối quan hệ với nhau
+ H1: Hai thuộc tính có mối quan hệ với nhau

In [31]:

contigency= pd.crosstab(df3['SeriousDlqin2yrs'], df3['salary_ordinal'])
contigency

salary_ordinal        1      2      3      4
SeriousDlqin2yrs
0                 27116  27734  28376  28680
1                  2748   2381   1837   1390

In [33]:
c, p, dof, expected = chi2_contingency(contigency)

print(p)

6.116235153418934e-122

Kết luận: Vì P_value < 0.05 vì vậy chấp nhận giả thuyết đối

4.Giữa thuộc tính saalary với thuộc tính số dư tài khoản có mối quan hê với nhau không

Phát biểu:
+ Ho: Hai thuộc tính không có mối quan hệ
+ H1: Hai thuuojc tính có mối quan hệ

In [40]:
df4 = df.dropna(subset=['MonthlyIncome','RevolvingUtilizationOfUnsecuredLines'])

q1 = df4.MonthlyIncome.quantile(0.25)

q2 = df4.MonthlyIncome.quantile(0.5)

q3 =df4.MonthlyIncome.quantile(0.75)


condition = [df4.MonthlyIncome < q1, df4.MonthlyIncome<q2,df4.MonthlyIncome < q3]

values = [1,2,3]

df4['salary_ordinal'] = np.select(condition, values,default=4)


df4 = df4.filter(['SeriousDlqin2yrs','salary_ordinal'])

df4

contigency= pd.crosstab(df4['SeriousDlqin2yrs'], df4['salary_ordinal'])
contigency

c, p, dof, expected = chi2_contingency(contigency)

print(p)

6.116235153418934e-122

/tmp/ipykernel_38979/1431111465.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['salary_ordinal'] = np.select(condition, values,default=4)

Kết luận: Với P ~0, vì vậy chấp nhận H0